<div *ngIf = "currency.bestTrade && currency.bestTrade[0].prevCurrency">

  <h3>
    Best path from {{currency.selectedCurrency.currencyName}}
    back to {{currency.selectedCurrency.currencyName}}
  </h3>

  <app-node
    *ngFor = "let i of currency.bestTrade; let ind = index"
    [currency] = "i.currency"
    [last] = "ind == currency.bestTrade.length - 1 "
    [amount] = "ind == 0 ? currency.amountInvested : i.amount">
  </app-node>

</div>

<div *ngIf = "currency.bestTrade  && !currency.bestTrade[0].prevCurrency">
  <p>This currency has no possible paths for profit</p>
</div>
