<span>Please select a starting currency : </span>

<select
  [(ngModel)]="currency.selectedCurrency"
  (ngModelChange)="currency.currencySelected()">

  <option
    *ngFor="let i of currency.currencySymbols"
    [ngValue] = "currency.currencies[i]">

    {{getSymbol( currency.currencies[i].currencySymbol )}} :
    {{currency.currencies[i].currencyName}}
  </option>

</select>

<span>Amount invested:</span>

<input
  type="number"
  min="0.01"
  step="0.01"
  [(ngModel)]="currency.amountInvested"
  (ngModelChange)="currency.amountChanged()">
