<h2>Forex arbitrage</h2>

<p>Given a currency 'A', this app looks for the greatest profit in a path from 'A' back to 'A'
  with no internal loops</p>

<app-currency-picker></app-currency-picker>
<app-results></app-results>
